.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block-end: 2rem;
}

.header__title {
  margin-bottom: 0 !important;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  inline-size: 100%;
}
